
*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root
{
    --black:#000;
    --gray:gray;
    --violet:rgb(53, 50, 199);
    --white:#fff;
}


body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
}

.logo a
{
    color: var(--black);
}

nav
{
    padding: 30px 30px;
}

.sign
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sign-up h1
{
    font-size: 35px;
    padding-bottom: 30px;
}

.sign-up p
{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
}

.log
{
    color: var(--violet);
}

.form label
{
    color: var(--gray);
    font-size: 14px;
}

.form input
{
    border: none;
    border-bottom: 2px solid var(--gray);
    padding: 20px 0px;
    padding-right: 200px;
}

.form ::placeholder
{
    color: var(--black);
    font-size: 17px;
}

.hero
{
    background-color: rgb(31, 8, 70);
    width: 45%;
    height: 800px;
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
    position: relative;
}

.hero h3
{
    color: var(--white);
    font-size: 40px;
    padding:0px 55px;
    padding-top: 50px;
    text-align: left;
    font-weight: 600;
}

.hero p
{
    color: var(--white);
    font-size: 22px;
    font-weight: 200;
    padding:5px 55px;
    text-align: left;
}


.btn
{
    padding: 15px 100px;
    border-radius: 50px;
    background-color: var(--violet);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px #00000060;
}

.btn a
{
    color: var(--white);
}

.forget
{
    display: flex;
    justify-content: space-between;
}

.forget a
{
    color: var(--gray);
}

.icons p
{
    color: var(--gray);
}
.icons
{
    text-align: center;
    padding: 30px 0px;
    line-height: 60px;
}

.icons img
{
    padding: 0 10px;
    width: 60px;
    cursor: pointer;
}